MileStone 2

In [ ]:
import pandas as pd
import numpy as np

# Optional: display all columns
pd.set_option("display.max_columns", None)

In [ ]:
df = pd.read_csv(r"C:\CODING\PandasApp\azure_synthetic_dataset_5000.csv")

# for 20 data 
# df = pd.read_csv(r"C:\CODING\PandasApp\azure_synthetic_dataset_5000.csv").head(20)

# Display dataset shape and first 5 rows
print("Dataset Shape:", df.shape)
df.head()

Dataset Shape: (5250, 11)

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance
0,2024-12-14,sub-41749,rg-790,East US,Storage Account,846,1000,5.91,93.03,0,0
1,2025-03-30,sub-77492,rg-877,North Europe,Cosmos DB,879,1039,39.63,94.31,0,0
2,2022-10-28,sub-39341,rg-980,Central US,Storage Account,557,867,15.21,93.02,0,0
3,2021-05-02,sub-24121,rg-329,Central US,Storage Account,639,753,35.35,92.97,0,0
4,2021-02-07,sub-94098,rg-733,West US,Virtual Machine,607,948,42.15,90.60,0,0

In [ ]:
# Converting timestamp column from string to datetime format
df["timestamp"] = pd.to_datetime(df["timestamp"])

# Sort dataset by timestamp 
df = df.sort_values("timestamp").reset_index(drop=True)
print(df)

      timestamp subscription_id resource_group          region  \
0    2021-01-01       sub-95574         rg-982    North Europe
1    2021-01-01       sub-65863         rg-745    North Europe
2    2021-01-02       sub-36766         rg-431     west europe
3    2021-01-02       sub-66645         rg-878         West US
4    2021-01-03       sub-30593         rg-662    North Europe
...         ...             ...            ...             ...
5245 2025-12-31       sub-23027         rg-168         west us
5246 2025-12-31       sub-35696         rg-431     West Europe
5247 2025-12-31       sub-27610         rg-467  Southeast Asia
5248 2025-12-31       sub-95096         rg-829    North Europe
5249 2025-12-31       sub-14870         rg-774         East US

         service_type  units_used  provision_capacity  cost_use  availability  \
0           functions         695                 817     12.39         91.29
1         App Service         948                1183      3.79         94.95
2         App Service         737                 936     33.82         90.90
3         App Service         412                 789     47.45         95.06
4     Storage Account         829                1186      7.69         96.14
...               ...         ...                 ...       ...           ...
5245     SQL Database         456                 864     19.19         97.17
5246        cosmos db         632                1081      2.82         98.18
5247        Cosmos DB         116                 256     16.97         97.79
5248      App Service          16                  35     25.87         97.21
5249        Functions         373                 402     18.05         96.59

      external_holiday  internal_maintenance
0                    0                     0
1                    0                     0
2                    0                     0
3                    0                     0
4                    0                     0
...                ...                   ...
5245                 1                     0
5246                 1                     0
5247                 0                     1
5248                 0                     0
5249                 0                     0

[5250 rows x 11 columns]

In [ ]:
#creating time features
df["hour"] = df["timestamp"].dt.hour
df["day"] = df["timestamp"].dt.day
df["weekday"] = df["timestamp"].dt.weekday

print(df)

      timestamp subscription_id resource_group          region  \
0    2021-01-01       sub-95574         rg-982    North Europe
1    2021-01-01       sub-65863         rg-745    North Europe
2    2021-01-02       sub-36766         rg-431     west europe
3    2021-01-02       sub-66645         rg-878         West US
4    2021-01-03       sub-30593         rg-662    North Europe
...         ...             ...            ...             ...
5245 2025-12-31       sub-23027         rg-168         west us
5246 2025-12-31       sub-35696         rg-431     West Europe
5247 2025-12-31       sub-27610         rg-467  Southeast Asia
5248 2025-12-31       sub-95096         rg-829    North Europe
5249 2025-12-31       sub-14870         rg-774         East US

         service_type  units_used  provision_capacity  cost_use  availability  \
0           functions         695                 817     12.39         91.29
1         App Service         948                1183      3.79         94.95
2         App Service         737                 936     33.82         90.90
3         App Service         412                 789     47.45         95.06
4     Storage Account         829                1186      7.69         96.14
...               ...         ...                 ...       ...           ...
5245     SQL Database         456                 864     19.19         97.17
5246        cosmos db         632                1081      2.82         98.18
5247        Cosmos DB         116                 256     16.97         97.79
5248      App Service          16                  35     25.87         97.21
5249        Functions         373                 402     18.05         96.59

      external_holiday  internal_maintenance  hour  day  weekday
0                    0                     0     0    1        4
1                    0                     0     0    1        4
2                    0                     0     0    2        5
3                    0                     0     0    2        5
4                    0                     0     0    3        6
...                ...                   ...   ...  ...      ...
5245                 1                     0     0   31        2
5246                 1                     0     0   31        2
5247                 0                     1     0   31        2
5248                 0                     0     0   31        2
5249                 0                     0     0   31        2

[5250 rows x 14 columns]

In [24]:
# df = df.sort_values(["region", "timestamp"])

df["lag_1_usage"] = df.groupby("region")["units_used"].shift(1)
df["lag_7_usage"] = df.groupby("region")["units_used"].shift(7)
df = df.reset_index(drop=True)
print(df.head(20))

    timestamp subscription_id resource_group          region     service_type  \
0  2021-01-01       sub-95574         rg-982    North Europe        functions
1  2021-01-01       sub-65863         rg-745    North Europe      App Service
2  2021-01-02       sub-36766         rg-431     west europe      App Service
3  2021-01-02       sub-66645         rg-878         West US      App Service
4  2021-01-03       sub-30593         rg-662    North Europe  Storage Account
5  2021-01-03       sub-16752         rg-120         East US     SQL DATABASE
6  2021-01-03       sub-44111         rg-336  Southeast Asia  Storage Account
7  2021-01-03       sub-30593         rg-662    North Europe  Storage Account
8  2021-01-04       sub-89487         rg-164         East US  Virtual Machine
9  2021-01-04       sub-35245         rg-676         East US        FUNCTIONS
10 2021-01-04       sub-20655         rg-935      CENTRAL US        Cosmos DB
11 2021-01-04       sub-25498         rg-139  Southeast Asia        COSMOS DB
12 2021-01-04       sub-35245         rg-676         East US        FUNCTIONS
13 2021-01-05       sub-34468         rg-933         East US  Storage Account
14 2021-01-05       sub-99167         rg-370      Central US      app service
15 2021-01-06       sub-15763         rg-116    North Europe      APP SERVICE
16 2021-01-08       sub-42725         rg-315    NORTH EUROPE     SQL Database
17 2021-01-09       sub-26326         rg-906    North Europe  Virtual Machine
18 2021-01-09       sub-27636         rg-828         WEST US        Functions
19 2021-01-09       sub-77722         rg-949    North Europe  Storage Account

    units_used  provision_capacity  cost_use  availability  external_holiday  \
0          695                 817     12.39         91.29                 0
1          948                1183      3.79         94.95                 0
2          737                 936     33.82         90.90                 0
3          412                 789     47.45         95.06                 0
4          829                1186      7.69         96.14                 0
5          427                 450     37.74         95.79                 0
6          323                 333     15.14         93.16                 0
7          829                1186      7.69         96.14                 0
8          718                1004     16.51         90.91                 0
9          740                1119     32.48         98.32                 0
10         509                 903     17.28         99.51                 0
11         645                 660     12.23         91.91                 1
12         740                1119     32.48         98.32                 0
13         169                 270     25.75         94.55                 0
14         461                 946     34.99         96.86                 0
15         716                1129     46.93         90.83                 0
16          64                 208     22.08         95.49                 0
17         755                1212      4.97         98.72                 0
18         172                 626      4.79         96.51                 1
19         824                1192     19.02         99.81                 1

    internal_maintenance  hour  day  weekday  lag_1_usage  lag_7_usage
0                      0     0    1        4          NaN          NaN
1                      0     0    1        4        695.0          NaN
2                      0     0    2        5          NaN          NaN
3                      0     0    2        5          NaN          NaN
4                      0     0    3        6        948.0          NaN
5                      0     0    3        6          NaN          NaN
6                      0     0    3        6          NaN          NaN
7                      0     0    3        6        829.0          NaN
8                      0     0    4        0        427.0          NaN
9                      0     0    4        0        718.0          NaN
10                     0     0    4        0          NaN          NaN
11                     0     0    4        0        323.0          NaN
12                     0     0    4        0        740.0          NaN
13                     0     0    5        1        740.0          NaN
14                     0     0    5        1          NaN          NaN
15                     0     0    6        2        829.0          NaN
16                     0     0    8        4          NaN          NaN
17                     0     0    9        5        716.0          NaN
18                     0     0    9        5          NaN          NaN
19                     0     0    9        5        755.0          NaN

In [25]:
# Convert numeric columns to proper numeric format (if needed)
df["units_used"] = pd.to_numeric(df["units_used"], errors="coerce")
df["provision_capacity"] = pd.to_numeric(df["provision_capacity"], errors="coerce")
df["cost_use"] = pd.to_numeric(df["cost_use"], errors="coerce")
df["availability"] = pd.to_numeric(df["availability"], errors="coerce")

# Check for missing values
print(df.isnull().sum())

timestamp                 0
subscription_id           0
resource_group            0
region                    0
service_type              0
units_used                0
provision_capacity        0
cost_use                  0
availability              0
external_holiday          0
internal_maintenance      0
hour                      0
day                       0
weekday                   0
lag_1_usage              18
lag_7_usage             126
dtype: int64

Demand-Driving Feature Engineering

Usage Trend (Rolling Mean)

In [26]:

# Calculate rolling mean on correct column
df["rolling_mean_3"] = df["units_used"].rolling(window=3, min_periods=1).mean()

print(df)

      timestamp subscription_id resource_group          region  \
0    2021-01-01       sub-95574         rg-982    North Europe
1    2021-01-01       sub-65863         rg-745    North Europe
2    2021-01-02       sub-36766         rg-431     west europe
3    2021-01-02       sub-66645         rg-878         West US
4    2021-01-03       sub-30593         rg-662    North Europe
...         ...             ...            ...             ...
5245 2025-12-31       sub-23027         rg-168         west us
5246 2025-12-31       sub-35696         rg-431     West Europe
5247 2025-12-31       sub-27610         rg-467  Southeast Asia
5248 2025-12-31       sub-95096         rg-829    North Europe
5249 2025-12-31       sub-14870         rg-774         East US

         service_type  units_used  provision_capacity  cost_use  availability  \
0           functions         695                 817     12.39         91.29
1         App Service         948                1183      3.79         94.95
2         App Service         737                 936     33.82         90.90
3         App Service         412                 789     47.45         95.06
4     Storage Account         829                1186      7.69         96.14
...               ...         ...                 ...       ...           ...
5245     SQL Database         456                 864     19.19         97.17
5246        cosmos db         632                1081      2.82         98.18
5247        Cosmos DB         116                 256     16.97         97.79
5248      App Service          16                  35     25.87         97.21
5249        Functions         373                 402     18.05         96.59

      external_holiday  internal_maintenance  hour  day  weekday  lag_1_usage  \
0                    0                     0     0    1        4          NaN
1                    0                     0     0    1        4        695.0
2                    0                     0     0    2        5          NaN
3                    0                     0     0    2        5          NaN
4                    0                     0     0    3        6        948.0
...                ...                   ...   ...  ...      ...          ...
5245                 1                     0     0   31        2        168.0
5246                 1                     0     0   31        2        260.0
5247                 0                     1     0   31        2        880.0
5248                 0                     0     0   31        2        554.0
5249                 0                     0     0   31        2        317.0

      lag_7_usage  rolling_mean_3
0             NaN      695.000000
1             NaN      821.500000
2             NaN      793.333333
3             NaN      699.000000
4             NaN      659.333333
...           ...             ...
5245         35.0      392.666667
5246        225.0      547.333333
5247        379.0      401.333333
5248        957.0      254.666667
5249        307.0      168.333333

[5250 rows x 17 columns]

# Capacity Utilization Ratio

In [27]:
# Calculate how much of provisioned capacity is being used
df["capacity_utilization"] = df["units_used"] / df["provision_capacity"]

df.head()

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization
0,2021-01-01,sub-95574,rg-982,North Europe,functions,695,817,12.39,91.29,0,0,0,1,4,NaN,NaN,695.000000,0.850673
1,2021-01-01,sub-65863,rg-745,North Europe,App Service,948,1183,3.79,94.95,0,0,0,1,4,695.0,NaN,821.500000,0.801352
2,2021-01-02,sub-36766,rg-431,west europe,App Service,737,936,33.82,90.90,0,0,0,2,5,NaN,NaN,793.333333,0.787393
3,2021-01-02,sub-66645,rg-878,West US,App Service,412,789,47.45,95.06,0,0,0,2,5,NaN,NaN,699.000000,0.522180
4,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,948.0,NaN,659.333333,0.698988

# Cost Efficiency Metric

In [28]:
# Calculating cost per unit
df["cost_per_unit"] = df["cost_use"] / df["units_used"]

df.head()

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization,cost_per_unit
0,2021-01-01,sub-95574,rg-982,North Europe,functions,695,817,12.39,91.29,0,0,0,1,4,NaN,NaN,695.000000,0.850673,0.017827
1,2021-01-01,sub-65863,rg-745,North Europe,App Service,948,1183,3.79,94.95,0,0,0,1,4,695.0,NaN,821.500000,0.801352,0.003998
2,2021-01-02,sub-36766,rg-431,west europe,App Service,737,936,33.82,90.90,0,0,0,2,5,NaN,NaN,793.333333,0.787393,0.045889
3,2021-01-02,sub-66645,rg-878,West US,App Service,412,789,47.45,95.06,0,0,0,2,5,NaN,NaN,699.000000,0.522180,0.115170
4,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,948.0,NaN,659.333333,0.698988,0.009276

In [29]:
# Availability Risk Indicator
# Convert availability to risk score

df["availability_risk"] = 1 - df["availability"]

df.head()

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization,cost_per_unit,availability_risk
0,2021-01-01,sub-95574,rg-982,North Europe,functions,695,817,12.39,91.29,0,0,0,1,4,NaN,NaN,695.000000,0.850673,0.017827,-90.29
1,2021-01-01,sub-65863,rg-745,North Europe,App Service,948,1183,3.79,94.95,0,0,0,1,4,695.0,NaN,821.500000,0.801352,0.003998,-93.95
2,2021-01-02,sub-36766,rg-431,west europe,App Service,737,936,33.82,90.90,0,0,0,2,5,NaN,NaN,793.333333,0.787393,0.045889,-89.90
3,2021-01-02,sub-66645,rg-878,West US,App Service,412,789,47.45,95.06,0,0,0,2,5,NaN,NaN,699.000000,0.522180,0.115170,-94.06
4,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,948.0,NaN,659.333333,0.698988,0.009276,-95.14

In [30]:
# Seasonality & Time-Based Features
# Extract time-based features from timestamp
df["month"] = df["timestamp"].dt.month
df["day_of_week"] = df["timestamp"].dt.dayofweek

# Create weekend flag (1 = weekend, 0 = weekday)
df["is_weekend"] = df["day_of_week"].apply(lambda x: 1 if x >= 5 else 0)

df.head()

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization,cost_per_unit,availability_risk,month,day_of_week,is_weekend
0,2021-01-01,sub-95574,rg-982,North Europe,functions,695,817,12.39,91.29,0,0,0,1,4,NaN,NaN,695.000000,0.850673,0.017827,-90.29,1,4,0
1,2021-01-01,sub-65863,rg-745,North Europe,App Service,948,1183,3.79,94.95,0,0,0,1,4,695.0,NaN,821.500000,0.801352,0.003998,-93.95,1,4,0
2,2021-01-02,sub-36766,rg-431,west europe,App Service,737,936,33.82,90.90,0,0,0,2,5,NaN,NaN,793.333333,0.787393,0.045889,-89.90,1,5,1
3,2021-01-02,sub-66645,rg-878,West US,App Service,412,789,47.45,95.06,0,0,0,2,5,NaN,NaN,699.000000,0.522180,0.115170,-94.06,1,5,1
4,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,948.0,NaN,659.333333,0.698988,0.009276,-95.14,1,6,1

In [31]:
# Holiday & Maintenance Flags
# Ensure holiday and maintenance flags are integers
df["external_holiday"] = df["external_holiday"].astype(int)
df["internal_maintenance"] = df["internal_maintenance"].astype(int)

df.head()

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization,cost_per_unit,availability_risk,month,day_of_week,is_weekend
0,2021-01-01,sub-95574,rg-982,North Europe,functions,695,817,12.39,91.29,0,0,0,1,4,NaN,NaN,695.000000,0.850673,0.017827,-90.29,1,4,0
1,2021-01-01,sub-65863,rg-745,North Europe,App Service,948,1183,3.79,94.95,0,0,0,1,4,695.0,NaN,821.500000,0.801352,0.003998,-93.95,1,4,0
2,2021-01-02,sub-36766,rg-431,west europe,App Service,737,936,33.82,90.90,0,0,0,2,5,NaN,NaN,793.333333,0.787393,0.045889,-89.90,1,5,1
3,2021-01-02,sub-66645,rg-878,West US,App Service,412,789,47.45,95.06,0,0,0,2,5,NaN,NaN,699.000000,0.522180,0.115170,-94.06,1,5,1
4,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,948.0,NaN,659.333333,0.698988,0.009276,-95.14,1,6,1

In [32]:
# Lag Features (Critical for Time-Series Models)

# Create lag features to capture previous demand values
df["demand_lag_1"] = df["units_used"].shift(1)
df["demand_lag_7"] = df["units_used"].shift(7)

df.head(10)

,timestamp,subscription_id,resource_group,region,service_type,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization,cost_per_unit,availability_risk,month,day_of_week,is_weekend,demand_lag_1,demand_lag_7
0,2021-01-01,sub-95574,rg-982,North Europe,functions,695,817,12.39,91.29,0,0,0,1,4,NaN,NaN,695.000000,0.850673,0.017827,-90.29,1,4,0,NaN,NaN
1,2021-01-01,sub-65863,rg-745,North Europe,App Service,948,1183,3.79,94.95,0,0,0,1,4,695.0,NaN,821.500000,0.801352,0.003998,-93.95,1,4,0,695.0,NaN
2,2021-01-02,sub-36766,rg-431,west europe,App Service,737,936,33.82,90.90,0,0,0,2,5,NaN,NaN,793.333333,0.787393,0.045889,-89.90,1,5,1,948.0,NaN
3,2021-01-02,sub-66645,rg-878,West US,App Service,412,789,47.45,95.06,0,0,0,2,5,NaN,NaN,699.000000,0.522180,0.115170,-94.06,1,5,1,737.0,NaN
4,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,948.0,NaN,659.333333,0.698988,0.009276,-95.14,1,6,1,412.0,NaN
5,2021-01-03,sub-16752,rg-120,East US,SQL DATABASE,427,450,37.74,95.79,0,0,0,3,6,NaN,NaN,556.000000,0.948889,0.088384,-94.79,1,6,1,829.0,NaN
6,2021-01-03,sub-44111,rg-336,Southeast Asia,Storage Account,323,333,15.14,93.16,0,0,0,3,6,NaN,NaN,526.333333,0.969970,0.046873,-92.16,1,6,1,427.0,NaN
7,2021-01-03,sub-30593,rg-662,North Europe,Storage Account,829,1186,7.69,96.14,0,0,0,3,6,829.0,NaN,526.333333,0.698988,0.009276,-95.14,1,6,1,323.0,695.0
8,2021-01-04,sub-89487,rg-164,East US,Virtual Machine,718,1004,16.51,90.91,0,0,0,4,0,427.0,NaN,623.333333,0.715139,0.022994,-89.91,1,0,0,829.0,948.0
9,2021-01-04,sub-35245,rg-676,East US,FUNCTIONS,740,1119,32.48,98.32,0,0,0,4,0,718.0,NaN,762.333333,0.661305,0.043892,-97.32,1,0,0,718.0,737.0

In [33]:



threshold = df["units_used"].mean() + df["units_used"].std()
df["usage_spike"] = np.where(df["units_used"] > threshold, 1, 0)
print(df)

      timestamp subscription_id resource_group          region  \
0    2021-01-01       sub-95574         rg-982    North Europe
1    2021-01-01       sub-65863         rg-745    North Europe
2    2021-01-02       sub-36766         rg-431     west europe
3    2021-01-02       sub-66645         rg-878         West US
4    2021-01-03       sub-30593         rg-662    North Europe
...         ...             ...            ...             ...
5245 2025-12-31       sub-23027         rg-168         west us
5246 2025-12-31       sub-35696         rg-431     West Europe
5247 2025-12-31       sub-27610         rg-467  Southeast Asia
5248 2025-12-31       sub-95096         rg-829    North Europe
5249 2025-12-31       sub-14870         rg-774         East US

         service_type  units_used  provision_capacity  cost_use  availability  \
0           functions         695                 817     12.39         91.29
1         App Service         948                1183      3.79         94.95
2         App Service         737                 936     33.82         90.90
3         App Service         412                 789     47.45         95.06
4     Storage Account         829                1186      7.69         96.14
...               ...         ...                 ...       ...           ...
5245     SQL Database         456                 864     19.19         97.17
5246        cosmos db         632                1081      2.82         98.18
5247        Cosmos DB         116                 256     16.97         97.79
5248      App Service          16                  35     25.87         97.21
5249        Functions         373                 402     18.05         96.59

      external_holiday  internal_maintenance  hour  day  weekday  lag_1_usage  \
0                    0                     0     0    1        4          NaN
1                    0                     0     0    1        4        695.0
2                    0                     0     0    2        5          NaN
3                    0                     0     0    2        5          NaN
4                    0                     0     0    3        6        948.0
...                ...                   ...   ...  ...      ...          ...
5245                 1                     0     0   31        2        168.0
5246                 1                     0     0   31        2        260.0
5247                 0                     1     0   31        2        880.0
5248                 0                     0     0   31        2        554.0
5249                 0                     0     0   31        2        317.0

      lag_7_usage  rolling_mean_3  capacity_utilization  cost_per_unit  \
0             NaN      695.000000              0.850673       0.017827
1             NaN      821.500000              0.801352       0.003998
2             NaN      793.333333              0.787393       0.045889
3             NaN      699.000000              0.522180       0.115170
4             NaN      659.333333              0.698988       0.009276
...           ...             ...                   ...            ...
5245         35.0      392.666667              0.527778       0.042083
5246        225.0      547.333333              0.584644       0.004462
5247        379.0      401.333333              0.453125       0.146293
5248        957.0      254.666667              0.457143       1.616875
5249        307.0      168.333333              0.927861       0.048391

      availability_risk  month  day_of_week  is_weekend  demand_lag_1  \
0                -90.29      1            4           0           NaN
1                -93.95      1            4           0         695.0
2                -89.90      1            5           1         948.0
3                -94.06      1            5           1         737.0
4                -95.14      1            6           1         412.0
...                 ...    ...          ...         ...           ...
5245             -96.17     12            2           0         554.0
5246             -97.18     12            2           0         456.0
5247             -96.79     12            2           0         632.0
5248             -96.21     12            2           0         116.0
5249             -95.59     12            2           0          16.0

      demand_lag_7  usage_spike
0              NaN            0
1              NaN            1
2              NaN            0
3              NaN            0
4              NaN            1
...            ...          ...
5245         687.0            0
5246         544.0            0
5247         277.0            0
5248         317.0            0
5249         566.0            0

[5250 rows x 26 columns]

In [34]:
#  Encode Categorical Variables
# df = pd.get_dummies(df, columns=["region", "service_type"], drop_first=True)

In [35]:
# Encode Categorical Variables

# Convert categorical variables to numeric
df_encoded = pd.get_dummies(df, columns=["region", "service_type"], drop_first=True)

# Drop timestamp (not needed for modeling)
df_encoded = df_encoded.drop(columns=["timestamp"])

# Drop rows with NaN (from lag features)
df_encoded = df_encoded.dropna()

print("Final model-ready dataset shape:", df_encoded.shape)
df_encoded.head()

Final model-ready dataset shape: (5124, 57)

,subscription_id,resource_group,units_used,provision_capacity,cost_use,availability,external_holiday,internal_maintenance,hour,day,weekday,lag_1_usage,lag_7_usage,rolling_mean_3,capacity_utilization,cost_per_unit,availability_risk,month,day_of_week,is_weekend,demand_lag_1,demand_lag_7,usage_spike,region_Central US,region_EAST US,region_East US,region_NORTH EUROPE,region_North Europe,region_SOUTHEAST ASIA,region_Southeast Asia,region_WEST EUROPE,region_WEST US,region_West Europe,region_West US,region_central us,region_east us,region_north europe,region_southeast asia,region_west europe,region_west us,service_type_App Service,service_type_COSMOS DB,service_type_Cosmos DB,service_type_FUNCTIONS,service_type_Functions,service_type_SQL DATABASE,service_type_SQL Database,service_type_STORAGE ACCOUNT,service_type_Storage Account,service_type_VIRTUAL MACHINE,service_type_Virtual Machine,service_type_app service,service_type_cosmos db,service_type_functions,service_type_sql database,service_type_storage account,service_type_virtual machine
22,sub-38876,rg-748,616,1063,42.48,99.57,0,0,0,10,6,824.0,695.0,547.333333,0.579492,0.068961,-98.57,1,6,1,981.0,716.0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,sub-19197,rg-753,748,1223,38.98,96.78,0,0,0,14,3,616.0,948.0,838.000000,0.611611,0.052112,-95.78,1,3,0,887.0,616.0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
30,sub-22569,rg-370,680,793,23.97,91.68,0,1,0,15,4,748.0,829.0,771.666667,0.857503,0.035250,-90.68,1,4,0,748.0,213.0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34,sub-48688,rg-649,674,1019,13.67,90.64,0,0,0,16,5,680.0,829.0,543.666667,0.661433,0.020282,-89.64,1,5,1,451.0,879.0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
45,sub-80711,rg-158,951,1334,19.49,98.87,0,0,0,21,3,674.0,716.0,525.666667,0.712894,0.020494,-97.87,1,3,0,263.0,505.0,1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [36]:
# Save Final Dataset

# Save the processed dataset for modeling phase
df_encoded.to_csv("azure_model_ready_dataset.csv", index=False)

print("Model-ready dataset saved successfully!")

Model-ready dataset saved successfully!

In [37]:
df.info()
df.head()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 5250 entries, 0 to 5249
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             5250 non-null   datetime64[us]
 1   subscription_id       5250 non-null   str
 2   resource_group        5250 non-null   str
 3   region                5250 non-null   str
 4   service_type          5250 non-null   str
 5   units_used            5250 non-null   int64
 6   provision_capacity    5250 non-null   int64
 7   cost_use              5250 non-null   float64
 8   availability          5250 non-null   float64
 9   external_holiday      5250 non-null   int64
 10  internal_maintenance  5250 non-null   int64
 11  hour                  5250 non-null   int32
 12  day                   5250 non-null   int32
 13  weekday               5250 non-null   int32
 14  lag_1_usage           5232 non-null   float64
 15  lag_7_usage           5124 non-null   float64
 16  rolling_mean_3        5250 non-null   float64
 17  capacity_utilization  5250 non-null   float64
 18  cost_per_unit         5250 non-null   float64
 19  availability_risk     5250 non-null   float64
 20  month                 5250 non-null   int32
 21  day_of_week           5250 non-null   int32
 22  is_weekend            5250 non-null   int64
 23  demand_lag_1          5249 non-null   float64
 24  demand_lag_7          5243 non-null   float64
 25  usage_spike           5250 non-null   int64
dtypes: datetime64[us](1), float64(10), int32(5), int64(6), str(4)
memory usage: 964.0 KB

timestamp                 0
subscription_id           0
resource_group            0
region                    0
service_type              0
units_used                0
provision_capacity        0
cost_use                  0
availability              0
external_holiday          0
internal_maintenance      0
hour                      0
day                       0
weekday                   0
lag_1_usage              18
lag_7_usage             126
rolling_mean_3            0
capacity_utilization      0
cost_per_unit             0
availability_risk         0
month                     0
day_of_week               0
is_weekend                0
demand_lag_1              1
demand_lag_7              7
usage_spike               0
dtype: int64